{% extends 'base.html' %}

{% block title %} 
Add Post
{% endblock %}



{% block content %} 
<form action="/add_post/{{user.id}}" method="POST" id="form">
    <fieldset > 
        <legend><h1> Add New Post for {{user.first_name}} {{user.last_name}}: </h1></legend>
        <p>Title</p>
        <input type="text" name="title" placeholder=" post title">
        <p>Content</p>
        <input type="text" name="content" placeholder="post content">
        
        <h3>Add Tags:</h3>
        {% for tag in tags %}
        <p><input type="checkbox" name="checkboxes" value="{{tag.id}}"> {{tag.name}}</p>
        {% endfor %}
        
        <p>
            <button>Add Post</button>
            <a href="/{{user.id}}" id="cancel-edit">Cancel</a>
        </p>    
    </fieldset>
</form>

<p><a href="/">Back to User List</a></p>

{% endblock %}